{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/base.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bloppers</title>
</head>
<body class="stripes">
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href ="{% url 'main_app:signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>