{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/base.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
  <title>Bloppers</title>
</head>
<body class="stripes">
  <div>
          <header id="header">
              <div class="nav-wrapper">
                <nav>
                  <ul class="menu">
                    <li><a href="{% url 'main_app:home' %}">Home</a></li>
                    <li><a href="{% url 'main_app:blopper' %}">Ur A Blopper</a></li>
                    <li><a href="{% url 'main_app:videos' %}">Vid Blops</a></li>
                    <li><a href="{% url 'main_app:images' %}">Pic Blops</a></li>
                    <li><a href="{% url 'main_app:articles' %}">Word Blops</a></li>
                    
                    <li>Search</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                  {% else %}
                    <li><a href ="{% url 'main_app:signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                  {% endif %}
                  </ul>
                </nav>
              </div>
          </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
  </footer>
  </div>
</body>
</html>

