{% extends 'main_app/base.html' %}
{% block content %}
{% load embed_video_tags %}

  <h1>{{blop.title}}</h1>
  {% if blop.video %}
    {% video blop.video 'small' %}
  {% elif blop.image %}

  {% elif blop.article %}

  {% endif %}
  <h4>Comments: </h4>
  {% if user.is_authenticated %}
    <form action="{% url 'main_app:create_comment' blop.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="content">
      <input type="submit" value="Submit Comment" class="btn">
    </form>
  {% endif %}
  
  {% for comment in comments %}
    <p class="comments">{{comment}}</p>
    {% if comment.creator == user %}
      <form class="edit_form" action="{% url 'main_app:edit_comment' blop.id comment.id %}" method="POST">
        {% csrf_token %}
      </form>
        <button class='edit_btn'>Edit</button>
      <form action="{% url 'main_app:delete_comment' blop.id comment.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn">
      </form>
    {% endif %}
  {% endfor %}

<script defer>
  let comments = document.querySelectorAll('.comments')
  let editBtns = document.querySelectorAll('.edit_btn')
  let editForms = document.querySelectorAll('.edit_form')
  let submit = document.createElement('input')
  let text = document.createElement('input')
  submit.setAttribute('type', 'submit')
  submit.setAttribute('value', 'Submit')
  submit.setAttribute('class', 'btn')
  text.setAttribute('type', 'text')
  text.setAttribute('name', 'content')

  for(let i = 0; i < editBtns.length; i++){
    editBtns[i].addEventListener("click", function() {
      let comment = comments[i].textContent
      comments[i].remove()
      text.setAttribute('placeholder', comment)
      editForms[i].appendChild(text)
      editForms[i].appendChild(submit)
    }
  );
}
</script>
{% endblock %}