{% extends 'main_app/base.html' %}
{% block content %}
{% load static %}
{% load embed_video_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/user.css' %}">
          <div class="section"> 
               <h1>My Blops</h1>
                    <br>
                    <a href="{% url 'main_app:create_blop' %}" class="button">ADD BLOP</a>
                    <br>
          <div class="section">
     <h2>My Videos</h2> 
          {% for blop in videos %}
               <h3>Title: {{ blop.title }}</h3>
                    {% video blop.video 'tiny' %}
                    {% endfor %}
               </div>
               <div class="section">
     <h2>My Images</h2>                               
          {% for blop in images %}
               <h3>Title: {{ blop.title }}</h3>
                    <img src="{{ blop.image }}" width="400" length="300" />
                         {% endfor %}
                    </div>
               <div class="divider"></div>
          <div class="section">
     <h2>My Articles</h2>      
      <div>                          
          {% for blop in articles %}
               <h3>Title: {{ blop.title }}</h3>
                    <p>{{blop.article}}</p>
          {% endfor %}
     </div>
{% endblock %}