{% extends 'main_app/base.html' %}
{% block content %}
{% load static %}
{% load embed_video_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/user.css' %}">
     <div class="container_three">  
          <h1>My Blops</h1>
               <br>
               <a href="{% url 'main_app:create_blop' %}">ADD BLOP</a>
               <br>
          <h2>My Videos</h2> 
     <div class="img-container">                                                            {% for blop in videos %}
               {% video blop.video 'tiny' %}
                    <p>Title: {{ blop.title }}</p>
                         {% endfor %}
                    </div>
          <h2>My Images</h2> 
     <div class="img-container">                               
          {% for blop in images %}
               <p>Title: {{ blop.title }}</p>
                    <img src="{{ blop.image }}" width="400" length="300" />
                         {% endfor %}
                    </div>
          <h2>My Articles</h2>      
      <div>                          
               {% for blop in articles %}
                    <p>{{blop.article}}</p>
                    <p>Title: {{ blop.title }}</p>
               {% endfor %}
          </div>
  
   

{% endblock %}