.header{
   text-align: center;
   font-family: 'Bungee Shade', cursive;
   color: brown;
   font-size: 55px;
}
.card{
    margin: auto;
    max-width: 50%;
    background-color: rgba(0, 6, 231,0.2);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}
.title{
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

.content{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 5px 5px;
}

a {
    text-decoration: none;
}