.container {
    grid-template-columns: [narrowcol1] 10% [col2] 20% [col3] 20% [col4]20% [col5] 20%  [narrowcol6]10%;
    grid-template-rows: [top nav] 7% [banner] 10% [vid] 25% [img] 25% [blog] 25% [foot] 8%; 
}
#title {
    color: brown;
    font-family: 'Bungee Shade', cursive;
    font-size: 85px;
}

