h1 {
  color: brown;
  font-family: 'Bungee Shade', cursive;
  font-size: 55px;
}

.center {
  text-align: center;
}

.card {
  width: 250px;
  height: 200px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.878);
  display: inline-block;
  margin: 10px;
}

.img-container {
  width: 250px;
  height: 141px;
  background-color: black;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  color: white;
  font-family: Arial;
  margin: 0;
  padding-top: 4px;
  font-size: 18px;
}