{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/user.css' %}">
{% extends 'main_app/base.html' %}
{% block content %}
        <section class="section_one">
            <a href="add.html">ADD BLOP</a>
            <br></br>
            <h1>My Blops</h1>
           <article>
               <h2>Videos</h2>
           </article>
           <article>
                <h2>Images</h2>
           </article>
           <article>
                <h2>Articles</h2>
           </article>
        </section>
{% endblock %}